.NavItem {
    float: left;
    justify-content: space-between;
}

.NavItem a {
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:200px;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a:active {
    color: #40A4C8;
    cursor: pointer;
}

@media (min-width:500px){
    .NavItem{
        margin: 10px 0;
        display: flex;
        width: auto;
        align-items: center;
    }
    
    .NavItem a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active{
        background-color: #8F5C2C;
        border-bottom: solid #40A4C8;
        color: white;
    }
    
    
}