.login-form{
    text-align:left;
    
    margin:auto;
    width:50%;
    border:solid grey 1px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0 2px 3px grey;

}
.Auth{
    margin:20px auto;
    width:80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
input{
    margin:2px;
    width:100%;
    display: block;
}

@media(min-width:600px){
    .Auth{
        widows: 500px;
    }
}
.btn-design{
    text-decoration-color: black;
    border:solid grey 1px;
    border-radius:5px;
    margin: 4px;
    width:20%;
    height: 10%;

}
h2{
    text-align: center;
    padding:1px;
    margin:1px;
}